<!DOCTYPE html>
    <html>
        <head>
            <title>Add Task</title>
            <link rel="stylesheet" href="css/styles.css">
            <meta charset="utf-8">
            <script defer src="js/addtask.js"></script>
            <script src="https://code.jquery.com/jquery.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        </head>
        <body>
            <header>    
                <div class="menu-button">
                    <div class="menu-button-burger"></div>
                </div>
                <nav>
                    <div class="menu-background">
                        <ul class="menu">
                            <li><a href="index">Dashboard</a></li>
                            <li><a href="addtask">Add Task</a></li>
                            <li><a href="friends">Friends</a></li>
                            <!--<li><a href="settings">Settings</a></li>
                            <li><a href="about">About</a></li>
                            <li><a class="logout" href="login">Log Out</a></li>-->
                            <div class="closeMenu"></div>
                        </ul>
                    </div>
                </nav>
                    <div class="app-name">RALI</div>
            </header>
            <br>
            <h2>Add a New Task</h2>
            <br>
            <div class="add-task-container">
                <form class="activity-input" id="add-task-form">
                    <label for="activity-name">Name of Activity</label>
                    <input type="text" id="activity-name" name="activity-name">
                    <br>
                    <label for="activity-category">Category</label>
                    <select name="activity-category" id="activity-category">
                        <option value="education">Education</option>
                        <option value="finance">Finance</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                    </select>
                    <br>
                    <label for="activity-deadline">Deadline</label>
                    <input type="date" id="activity-deadline" name="activity-deadline">
                    <br>

                    </form>
                <button class="done-button" type = "submit" onclick="addTask(id)" id="{{id}}">Add Task</button>
            </div>
            <script src="js/app.js"></script>
        </body>
    </html>