@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
* {
    padding: 0;
    margin: 0;

}

body {
    background-image: linear-gradient(#5e72eb, #ff9190);
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
}
.app-name {
    font-size: 3em;
    font-weight: 700;
    color: white;
    padding-top: .5em;
    width: 100%;
    text-align: center;
}
.main {
    background-color: white;
    height: 22em;
    margin-left: 2em;
    margin-right: 2em;
    border: none;
    border-collapse: separate;
    overflow: hidden;
    border-radius: 1.5em;
    box-shadow:  4px 8px 8px 0px #00000024;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 2em;
    align-items: center;
}

#login {
    color: #ff9190;
    font-weight: bold;
    font-size: 1.5;
}
input[type=text] {
    height: 3em;
    border-radius: 1.5em;
    border: none;
    font-size: 1em;
    background-color: rgb(241, 241, 241);
    color: grey;
    box-shadow:  2px 4px 4px 2px #00000024;
    width: 80%;
    margin-inline-start:10%;
    margin-inline-end: 10%;
    margin-bottom: 1.5em;
}
input[type=password] {
    height: 3em;
    border-radius: 1.5em;
    border: none;
    font-size: 1em;
    background-color: rgb(241, 241, 241);
    color: grey;
    box-shadow:  2px 4px 4px 2px #00000024;
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: .5em;
}
input[type=text]::placeholder {
    padding-left: 1.5em;
}
input[type=password]::placeholder {
    padding-left: 1.5em;
}
input[type=text]::-ms-value{
    padding-left: 1.5em;
}
input[type=submit] {
    background-image: linear-gradient(to right,#ff9190,#fdc094);
    color: white;
    height: 3em;
    border-radius: 1.5em;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 2em;
    box-shadow:  2px 4px 4px 2px #00000024;
    border:none;
    width: 80%;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    margin-bottom: .5em;
}
/*#username{
    color: grey;
    font-weight: 400;
    font-size: 1.2em;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
}*/

/*#pass {
    color: rgba(136, 126, 126, 0.04);
    font-weight: 400;
    font-size: 1.2em;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;

}*/


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

/*#submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);*/
}

#forgot {
    color: grey;
    padding-top: 15px;
    font-size: 1em;
}

a {
    color: grey;
    text-decoration: none
}

@media (max-width: 600px) {
    #main {
        border-radius: 0px;
    }
